.agende {
  background-color: #96b7ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 4rem;
  width: 100vw;
  border-radius: 5px 5px 5px 5px;
}

.agende h2 {
  color: white;
}

.traco {
  border: 2px solid white;
  display: flex;
  width: 100%;
  margin: 0 0 0 94%;
  border-radius: 10px 0 0 10px;
}

.agende p {
  margin: 0.5rem 0 0 0;
  border-radius: 25px;
  width: 50vw;
  text-align: center;
  font-size: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.agende button {
  margin: 1rem 0 0 0;
  width: 50%;
  padding: 0.8em 1.75em;
  background-color: white;
  border-radius: 10px;
  border: 0.3px solid white;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 17px;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  text-transform: uppercase;
  color: rgb(255, 196, 0);
}

.agende button::after,
.agende button::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: 0.5s ease-out;
  background-color: var(--color);
}
.agende button::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.agende button:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.agende button:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}
.agende button:hover {
  color: rgb(255, 255, 255);
  font-weight: 400;
}
.agende button:active {
  filter: brightness(0.7);
  transform: scale(0.98);
}

@media screen and (max-width: 1024px) {
  .agende {
    padding: 0;
  }
  .agende h2 {
    width: 90%;
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
  }
  .agende button {
    width: 90%;
    margin-bottom: 1rem;
  }

  .agende p {
    width: 90%;
  }
}
