/* .card {
  background-color: black;
} */

.cardbody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.title {
  text-align: center;
  color: var(--text-principal);
  font-size: 30px;
  margin-bottom: 2rem;
}

.figureservices {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding: 2rem;
}

.figureservices img {
  flex-shrink: 0; /* Garante que as imagens não encolham para caber no contêiner */
  max-width: 100%; /* Mantém as imagens responsivas */
  height: auto;
}

@media (max-width: 768px) {
  .figureservices {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .figureservices img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(124, 204, 200, 0.1);
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
  }
}
