.footer {
  width: 100%;
  background-color: black;
}
.container {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  padding: 2rem 0;
}

.menuFooter {
  display: flex;
  justify-content: space-between;
  width: 70%;
  align-items: center;
}

.logoFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 6rem;
}

.title {
  font-size: 38px;
}

.logoFooter p {
  color: #ccfdda;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  line-height: 0.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
}

.menuFooter ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
  height: 100%;
}

.menuFooter li {
  display: flex;
}

.contentPhoneEmail {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0px 0px 5px 3px rgba(124, 124, 124, 0.34);
  color: rgb(247, 243, 243);
  padding: 1rem;
  border-radius: 14px;
  width: 100%;
}

.titleContact {
  font-weight: bold;
  font-size: 32px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.contentPhone {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.contentEmail {
  display: flex;
  gap: 1rem;
}

.contentRedes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contentRedeSocial {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0px 0px 5px 0px rgb(252, 136, 3);

  color: rgb(252, 136, 3);
  width: 100%;
}

.titleRedesSocial {
  font-weight: bold;
  margin-bottom: 1rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

.contentRedesFigure {
  display: flex;
  gap: 1rem;
}

.iconInstagram {
  color: rgb(252, 136, 3);
  display: flex;
}

.titleHorarios {
  font-weight: bold;
  margin-bottom: 1rem;
}

.horarios {
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0px 0px 5px 3px rgba(124, 124, 124, 0.34);
  color: rgb(247, 243, 243);
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}

.dayTitle {
  display: flex;
  font-weight: bold;
}

.day {
  display: flex;
}

.timeTitle {
  font-weight: bold;
}

.content {
  display: flex;
  gap: 4px;
  align-items: center;
  background-color: black;
  color: white;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
  }
  .menuFooter {
    flex-direction: column;
    gap: 2rem;
    width: 90%;
  }

  .menuFooter ul {
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
  }

  .contentRedes {
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    margin-top: 2rem;
    flex-wrap: wrap;
  }

  .contentPhoneEmail {
    flex: 1;
    align-items: center;
  }
  .titleContact {
    justify-content: center;
  }
  .contentRedeSocial {
    flex: 1;
  }

  .titleRedesSocial {
    justify-content: center;
  }

  .contentRedesFigure {
    justify-content: center;
  }

  .horarios {
    width: 90%;
  }
  .logoFooter {
    padding-left: 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin: 0 2rem;
  }
}

@media screen and (max-width: 768px) {
  .titleContact {
    font-size: 24px;
  }
  .titleRedesSocial {
    font-size: 24px;
  }
  .content {
    font-size: 14px;
    flex-direction: column;
    margin-top: 1rem;
  }

  .contentPhoneEmail {
    flex: 1;
    align-items: start;
  }
  .titleContact {
    justify-content: center;
  }
  .contentRedeSocial {
    flex: 1;
  }

  .contentRedes {
    width: 90%;
  }
}

@media (max-width: 425px) {
  .contentPhoneEmail {
    align-items: center;
  }

  .titleContact {
    font-size: 20px;
  }
  .titleRedesSocial {
    font-size: 20px;
  }

  .menuFooter ul {
    display: flex;
    list-style: none;
    gap: 0rem;
  }

  .menuFooter li {
    font-weight: bold;
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    cursor: pointer;
  }
}
