.container {
  background-color: black;
  color: white;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.menuFooter {
  display: flex;
  gap: 4px;
  justify-content: space-around;
  width: calc(100vw - 14rem);
  margin: 2rem 0 4rem 0;
  align-items: center;
}

.logoFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 38px;
}

.logoFooter p {
  color: #ccfdda;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  line-height: 0.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
}

.menuFooter ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
  height: 100%;
}

.menuFooter li {
  display: flex;
}

.contentPhoneEmail {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.titleContact {
  font-weight: bold;
  font-size: 32px;
  display: flex;
  align-items: center;
  width: 100%;
}

.contentPhone {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.contentEmail {
  display: flex;
  gap: 1rem;
}

.contentRedes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contentRedeSocial {
  display: flex;
  flex-direction: column;
}

.titleRedesSocial {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 1rem;
  display: flex;
  width: 100%;
}

.contentRedesFigure {
  display: flex;
  gap: 1rem;
}

.iconInstagram {
  color: #ff7700;
  display: flex;
}

.titleHorarios {
  font-weight: bold;
  margin-bottom: 1rem;
}

.horarios {
  background-image: url('../../public/backDepoimentos.png');
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0px 1px 10px 5px rgba(25, 26, 25, 0.34);
  color: black;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}

.dayTitle {
  display: flex;
  font-weight: bold;
}

.day {
  display: flex;
}

.timeTitle {
  font-weight: bold;
}

.content {
  display: flex;
  gap: 4px;
  align-items: center;
}
