.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #96b8ff;
  position: fixed;
  margin-bottom: 15rem;
  padding: 1.5rem;
  width: 100vw;
  top: 0;
  z-index: 2;
}

.nav1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #96b8ff;
  position: fixed;
  padding: 1.5rem;
  width: 100vw;
  top: 0;
  z-index: 2;
}

.nav h1 {
  color: var(--text-principal);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 26px;
  padding: 1rem;
  color: rgb(255, 255, 255);
  font-weight: 600;
  padding: 15px;
}

.nav1 h1 {
  color: var(--color2);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 26px;
  padding: 1rem;
}

.linksButton {
  display: flex;
  list-style: none;
  gap: 4rem;
}
