.header {
  width: 100vw;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #96b7ffe9;
  padding: 1.5rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.nav1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0fa8b3;
  padding: 1.5rem;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 2;
}

.nav h1 {
  color: var(--text-principal);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 26px;
  padding: 1rem;
  color: rgb(255, 255, 255);
  font-weight: 600;
  padding: 15px;
}

.nav1 h1 {
  color: rgb(0, 0, 0);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 26px;
  padding: 1rem;
}

.nav .linksButton {
  display: flex;
  list-style: none;
  gap: 2rem;
  padding: 1rem;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
}

.nav1 .linksButton {
  display: flex;
  list-style: none;
  gap: 2rem;
  padding: 1rem;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
}

.nav .iconAlarm {
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
  padding: 5px;
  width: auto;
  height: auto;
}

@media screen and (max-width: 1024px) {
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .nav1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .nav .linksButton {
    display: none;
  }

  .nav1 .linksButton {
    display: none;
  }

  .iconAlarm {
    display: none;
  }
}
