@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  z-index: 1;
  margin-top: calc(1rem + 2 * 1rem);
  width: 100%;
}

.montagem {
  display: flex;
  gap: 1rem;
  margin-top: calc(1rem + 2 * 1.5rem);
}

.tituloMontagem {
  color: var(--text-principal);
  display: flex;
  padding: 2rem;
  font-size: 3rem;
}

.paragrafoTitle {
  color: var(--text-principal);
  text-indent: 20px;
  font-size: 24px;
  line-height: 32px;
  margin: 1rem 0;
  text-align: justify;
}

.paragrafoTitle strong {
  font-size: 32px;
  color: rgb(255, 200, 0);
}

.montagem {
  display: flex;
  width: calc(100vw - 12rem);
  padding-left: 4rem;
}

.bemVindo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  justify-content: center;
  width: 50%;
}

.imagem {
  display: flex;
  justify-content: center;
  margin: 4rem auto;
}

.montadeDeMoveisPicture1 {
  display: flex;
  align-items: center;
  width: 700px;
  height: auto;
}

.backFerramentas {
  display: flex;
  align-items: center;
  width: 700px;
  height: auto;
  opacity: 40%;
}

.montadeDeMoveisPicture2 {
  display: flex;
  align-items: center;
  width: 700px;
  height: auto;
}

.montagem > section > .button {
  padding: 0.8em 1.75em;
  background-color: transparent;
  border-radius: 6px;
  border: 0.3px solid var(--color);
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 17px;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  text-transform: uppercase;
  color: var(--color);
  margin-top: 4rem;
  width: 50%;
  text-align: center;
}

.montagem > section > .button::after,
.montagem > section > .button::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: 0.5s ease-out;
  background-color: var(--color);
}
.montagem > section > .button::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.montagem > section > .button:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.montagem > section > .button:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}
.montagem > section > .button:hover {
  color: var(--color2);
  font-weight: 400;
}
.montagem > section > .button:active {
  filter: brightness(0.7);
  transform: scale(0.98);
}

.imagemFerramentas {
  display: flex;
  width: 100%;
  justify-content: center;
}

.montagem1 {
  display: flex;
  justify-content: space-around;
  width: 90%;
  gap: 6rem;
  padding: 0 6rem 0 4rem;
  margin-top: calc(2rem + 2 * 2rem);
}

.sectionImagem1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  flex: 1;
}

.funcionaParag {
  color: var(--text-principal);
  text-indent: 20px;
  font-size: 24px;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  line-height: 32px;
  margin: 1rem 0;
  text-align: justify;
}

.funcionaParag strong {
  font-size: 26px;
  color: rgb(255, 200, 0);
  text-align: center;
}

.montagem1 h3 {
  color: var(--text-principal);
  font-size: 30px;
  margin-top: 2rem;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .tituloMontagem {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    margin: 0;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
  }

  .paragrafoTitle {
    font-size: 20px;
  }

  .paragrafoTitle strong {
    font-size: 22px;
  }
  .montagem1 {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .montagem {
    display: flex;
    padding-left: 0;
    width: 90%;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .bemVindo {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .imagem {
    display: none;
  }

  .montadeDeMoveisPicture1 {
    display: none;
  }
  .backFerramentas {
    margin-top: 1rem;
    width: 100%;
  }

  .montadeDeMoveisPicture2 {
    display: none;
  }
  .montagem1 {
    margin-top: 0;
    padding: 0;
    gap: 0;
  }

  .sectionPara1 {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
  }

  .funcionaParag {
    font-size: 20px;
  }

  .funcionaParag strong {
    font-size: 22px;
  }
}
