.servicos {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mainServicos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.titulo {
  color: var(--text-TitleSub);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-size: 40px;
  width: 100%;
  margin-top: 4rem;
}

.mainServicosHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #96b7ffef;
  justify-content: space-around;
  box-shadow: #96b8ff 0 0 10px;
}

.section {
  width: 100%;
  display: flex;
  max-width: calc(100vw - 14rem);
  justify-content: space-between;
  align-items: center;
}

.backButton {
  display: flex;
  padding: 5px;
  color: #e9ddd1;
  border-radius: 1rem;
  transition: 0.2s;
}

.backButton:hover {
  background-color: #ffffff;
}

.nossoServic {
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

.picture {
  display: flex;
  padding: 4px 0px;
  color: #e9ddd1;
  border-radius: 0.3rem;
  transition: 0.2s;
}

.picture:hover {
  background-color: #ffffff;
}

.traco {
  border: 2px solid white;
  width: 50%;
  display: flex;
}

.traco2 {
  border: 4px solid #cdfed9;
  width: 100%;

  display: flex;
}

.traco1,
.traco3 {
  border: 4px solid #88aeff;
  display: flex;
}

.montagem,
.desmontagem,
.manutencao,
.tv,
.dobradicas,
.cortinas {
  border-radius: 1rem;
}

.mainMontagem,
.mainDesmontagem,
.mainManutencao {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;
}

.sectionDesmontagem {
  justify-content: space-around;
  margin-left: 8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sectionManutencao,
.sectionMontagem {
  justify-content: space-around;
  margin-right: 8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mainFigure {
  display: flex;
  margin-right: 8rem;
}

.mainFigure2,
.mainFigure1 {
  display: flex;
  margin-left: 8rem;
}

.sectionDesmontagem {
  align-items: flex-end;
}

.globalH1 {
  font-size: 3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  align-items: flex-start;
  color: var(--text-TitleSub);
}

.globalParagrafo {
  font-size: 1.2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 30px;
  margin-top: 1rem;
  color: var(--text-secundario);
}

.contentGaleria {
  background-image: url('../../public/ferramentas3.png');
  margin-top: 2rem;
}

.galeriaDeFotos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.globalH2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-size: 40px;
  width: 100%;
  color: var(--text-TitleSub);
  margin-top: 7rem;
}

.tracoH2 {
  display: flex;
  border: 2px solid rgb(255, 255, 255);
  width: 50%;
}

.servicos .render {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 3rem 0 0 0;
  padding-bottom: 6rem;
  background-image: url('../../public/ferramentas3.png');
}

.bakcGround {
  background-color: #ffffff;
  margin-top: 3rem;
}

.traco4,
.traco5,
.traco6 {
  display: none;
}

.mainDobradicas,
.mainCortinas,
.mainTv {
  display: none;
}

@media (max-width: 425px) {
  .mainServicos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .mainMontagem,
  .mainDesmontagem,
  .mainManutencao,
  .mainDobradicas,
  .mainCortinas,
  .mainTv {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
  }

  .montagem,
  .desmontagem,
  .manutencao,
  .tv,
  .dobradicas,
  .cortinas {
    width: auto;
    height: 180px;
  }

  .mainDesmontagem {
    flex-direction: column-reverse;
  }

  .sectionDesmontagem {
    margin-left: 0;
    align-items: center;
  }

  .sectionManutencao,
  .sectionMontagem {
    margin-right: 0;
    align-items: center;
  }

  .globalParagrafo {
    text-align: center;
    font-size: 1rem;
    max-width: calc(100% - 5rem);
    text-align: justify;
    display: none;
    color: var(--text-secundario);
  }

  .traco1,
  .traco3 {
    width: 70%;
    border: 1px solid #88aeff;
  }

  .traco4,
  .traco5,
  .traco6 {
    margin-top: 1.5rem;
    border: 1px solid #88aeff;
    width: 70%;
  }

  .traco2 {
    border: 1px solid #88aeff;
    width: 70%;
  }

  .globalH1 {
    font-size: 1.5rem;
    text-align: center;
    display: none;
  }

  .mainFigure1,
  .mainFigure2 {
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-top: 1rem;
  }

  .mainFigure {
    margin-right: 0;
  }

  .contentGaleria {
    width: 100%;
    margin-top: 0;
  }
}
