.whatsButton {
  position: fixed;
  bottom: 0;
  left: 1rem;
  margin: 2rem;
  z-index: 10;
  width: 4rem;
  height: 4rem;
  background-color: #ff7700;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 768px) {
  .whatsButton {
    display: none;
  }
}
